@using CW_SITAIRIS.Controllers.LoginController
@model CW_SITAIRIS.Models.User

@{
    ViewData["Title"] = "Личный кабинет";
}

<a asp-controller="Account" asp-action="Logout" style="margin-left: 1000px">Log out</a>

@if (AccountController.status == 0)
{
    <h2>Личный Кабинет</h2>
    <a asp-controller="Orders" asp-action="Index" asp-route-userId="@AccountController.UserId" class="btn btn-outline-primary">Мои заказы</a>
}
else
{
    <h2>Информация о пользователя</h2>
    <a asp-controller="Orders" asp-action="Index" asp-route-userId="@Model.idUser" class="btn btn-outline-primary">Заказы пользователя</a>
}




<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Уровень доступа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>
        <dt>
            ФИО
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            Login
        </dt>
        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>
        <dt>
            Пароль
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            Дата рождения
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>
        <dt>
            Телефон
        </dt>
        <dd>
            @Html.DisplayFor(model => model.proneNumber)
        </dd>
        <dt>
            E-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<div>
    @if (AccountController.status == 2)
    {
        <a asp-action="Edit" asp-route-id="@Model.idUser">Изменить</a>
        <a asp-action="Index">Назад</a>
    }

</div>
