@using CW_SITAIRIS.Controllers.LoginController
@model CW_SITAIRIS.Models.User

@{
    ViewData["Title"] = "Personal page";
}

<a asp-controller="Account" asp-action="Logout" style="margin-left: 1000px">Log out</a>

<h2>Details</h2>


<a asp-controller="Orders" asp-action="Index" asp-route-userId="@AccountController.UserId" class="btn btn-outline-primary" >My Orders</a>

<div>
    <h4>Personal page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.proneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.proneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<div>
    @if (AccountController.status == 2)
    {
        <a asp-action="Edit" asp-route-id="@Model.idUser">Edit</a>
        <a asp-action="Index">Back to List</a>
    }

</div>
