@model IEnumerable<CW_SITAIRIS.Models.User>

@{
    ViewData["Title"] = "Пользователи";
}

<h2>Список пользователей</h2>

<p>
    <a asp-action="Create">Добавить пользователя</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            ИД пользователя
        </th>
        <th>
            Уровень доступа
        </th>
        <th>
            ФИО
        </th>
        <th>
           Логин
        </th>
        <th>
            Пароль
        </th>
        <th>
           Дата рождения
        </th>
        <th>
            Телефон
        </th>
        <th>
            E-mail
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.idUser">Изменить</a> |
            <a asp-action="Details" asp-route-id="@item.idUser">Подробно</a> |
            <a asp-action="Delete" asp-route-id="@item.idUser">Удалить</a>
        </td>
    </tr>
}
    </tbody>
</table>
