@using CW_SITAIRIS.Controllers
@using CW_SITAIRIS.Controllers.LoginController
@using CW_SITAIRIS.Models.AppDBContext
@using SQLitePCL
@model CW_SITAIRIS.Models.OrderInfo

@{
    ViewData["Title"] = "Details";



}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.carName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.clientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.clientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateOpened)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateOpened)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateClosed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateClosed)
        </dd>
    </dl>
</div>
<div>
    @if (AccountController.status > 0)
    {
        <a asp-action="Edit" asp-route-id="@Model.orderId">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
