@using CW_SITAIRIS.Controllers.LoginController
@model IEnumerable<CW_SITAIRIS.Models.Order>

@{
    ViewData["Title"] = "Список заказов";
}

<h2>Список заказов</h2>

<div class="form-group">
    <form asp-action="Index" method="get">
        <div>
            <label class="control-label">Дата выдачи:</label>
            <input class="form-control" type="date" name="date" />
        </div>
        <div>
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </form>
</div>

@if (AccountController.status > 0)
{
    <p>
        <a asp-action="Create">Добавить заказ</a>
    </p>
}

<table class="table">
    <thead >
        <tr>
            <th>
                Номер заказа
            </th>
            <th>
                Номер авто
            </th>
            <th>
                Номер клиента
            </th>
            <th>
                Заказ создан
            </th>
            <th>
                Дата выдачи
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOpened)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateClosed)
            </td>
            <td>
                @if (AccountController.status > 0)
                {
                    <a asp-action="Edit" asp-route-id="@item.orderId">Изменить</a>
                    <a asp-action="Delete" asp-route-id="@item.orderId">Удалить</a>
                }
                <a asp-action="Details" asp-route-id="@item.orderId">Подробно</a>
            </td>
        </tr>
}
    </tbody>
</table>
