@model IEnumerable<CW_SITAIRIS.Models.TestDriveInfo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <form asp-action="Index" method="get">
        <div>
            <label class="control-label">Date:</label>
            <input class="form-control" type="date" name="date"/>
        </div>
        <div>
            <input type="submit" value="Filter"  class="btn btn-default"/>
        </div>
    </form>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientFio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientFio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carName)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.idDrive">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idDrive">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idDrive">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
