@model CW_SITAIRIS.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>автомобиль</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Страна
        </dt>
        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt>
           Цвет
        </dt>
        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt>
            Марка
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mark)
        </dd>
        <dt>
            Модель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt>
            Двигатель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.engine)
        </dd>
        <dt>
           Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            Комплектация
        </dt>
        <dd>
            @Html.DisplayFor(model => model.built)
        </dd>
        <dt>
            Номер склада
        </dt>
        <dd>
            @Html.DisplayFor(model => model.warehouseId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idCar" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
