@using CW_SITAIRIS.Controllers.LoginController
@model CW_SITAIRIS.Models.Car

@{
    ViewData["Title"] = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/images/@Model.picture" alt="@Model.mark" width="1000" height="auto" />
        </dd>
        <dt>
            Страна
        </dt>
        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt>
            Цвет
        </dt>
        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt>
            Марка
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mark)
        </dd>
        <dt>
            Модель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt>
            Двигатель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.engine)
        </dd>
        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            Комплектация
        </dt>
        <dd>
            @Html.DisplayFor(model => model.built)
        </dd>
        <dt>
            Номер склада
        </dt>
        <dd>
            @Html.DisplayFor(model => model.warehouseId)
        </dd>
    </dl>
</div>
<div>
    @if (AccountController.status == 1)
    {
        <a asp-action="Edit" asp-route-id="@Model.idCar">Изменить</a>
    }
    <a asp-action="Index">Назад к списку</a>
</div>
