@using CW_SITAIRIS.Controllers.LoginController
@model IEnumerable<CW_SITAIRIS.Models.Car>

@{
    ViewData["Title"] = "Car Catalog";
}

<h2>Catalog</h2>

@if (AccountController.status >= 1)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<div class="form-inline" >
    <form asp-controller="Cars" asp-action="Index" method="get">
        <span>
            <label class="control-label">Mark</label>
            <input class="form-control" type="text" name="mark" placeholder="Mark..." />
        </span>
        <span>
            <label class="control-label">Model</label>
            <input class="form-control" type="text" name="model" placeholder="Model..." />
        </span>

        <span>
            <label class="control-label">Built</label>
            <input class="form-control" type="text" name="built" placeholder="Built..." />
        </span>
        <div>
            <br />
            <input class="btn btn-primary" type="submit" name="name" value="Filter" />
        </div>
    </form>

</div>
<div class="form-group" style="width: 100%">
    
</div>

<table class="table" >
    <thead>
        <tr>
            <th>@*Image label*@</th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.built)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.warehouseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    <img src="~/images/@item.picture" alt="@item.mark" width="250" height="auto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.engine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.built)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.warehouseId)
                </td>
                <td>
                    @if (AccountController.status >= 1)
                    {
                        <a class="form-control" asp-action="Edit" asp-route-id="@item.idCar">Edit</a>
                        <a class="form-control" asp-action="Delete" asp-route-id="@item.idCar">Delete</a>
                    }
                    @if (AccountController.status == 0)
                    {
                        <a class="form-control" asp-controller="TestDrives" asp-action="Create" asp-route-userId="@AccountController.UserId" asp-route-carId="@item.idCar">Test Drive</a>
                        <a class="form-control" asp-controller="Orders" asp-action="Create" asp-route-carId="@item.idCar" asp-route-userId="@AccountController.UserId" >Order</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.idCar">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
